<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Righteous&family=Shrikhand&family=Silkscreen:wght@400;700&display=swap" rel="stylesheet">
  </head>
  <body class="pr-3 pl-3 silkscreen-regular">

<!-- HEADER -->
    <div class="fc-red shrikhand-regular mr-5 ml-5 mt-1 d-flex-between fs-header-medium fc-offwhite">
        <div class="flex2">
          <h1 class="fs-header-large">Welcome, {{user.first_name}}!</h1>
        </div>
        <div>
          <form action="/posts">
            <button class="grow-small submit-btn1 quicksand" type="submit">View All posts</button>
          </form>
        </div>
        <div class="ml-2">
          <form role="logout" action="/users/logout">
            <button class="grow-small submit-btn1 quicksand" type="submit">Log Out</button>
          </form>
      </div>
    </div>
        <!-- HEADER -->

            <!-- flash message -->
            <div class="neg-mt-3 d-flex-center d-flex-column">
              {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
                                  {% if messages %}                            <!-- check if there are any messages -->
                                      {% for message in messages %}            <!-- loop through the messages -->
                              <p>{{message}}<span class="grow-small ml-2 close-btn" onclick="this.parentElement.style.display='none';">&times;</span> </p>                   <!-- display each message in a paramraph tag -->
                                      {% endfor %}
                      {% endif %}
                  {% endwith %}
            </div>
              <!-- flash message -->

              

      <div class="d-flex-center">
        <div class="mt-4 d-flex-center">
          <!-- USER postS -->
          <div>
            <div>
              <!-- USER postS -->
            <div class="d-flex-center d-flex-column">
              <div class="fc-red text-center">
                <h2>posts by {{user.first_name}}:</h2>
              </div>
              <table class="table-border1">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in user_posts %}
                        <tr>
                            <td>{{ post.recipe }}</td>
                            <td class="d-flex-between">
                                    <a class="mr-2" href="/posts/{{ post.id }}/edit">Edit</a>
                                    <form id="deleteForm" class="delete-post-form" action="/posts/{{ post.id }}/delete" method="POST">
                                      <!-- Add any necessary hidden fields or additional form elements here -->
                                      <button id="deleteButton" class="hidden-btn" type="submit" >Delete</button>
                                  </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
            </div>
          </div>
            <!-- USER postS -->
        
            <!-- NEW post -->
            <div class=" dashboard-table d-flex-center d-flex-column">
              <form class="p-2 border1 d-flex-center d-flex-column" action="/posts/create" method="POST">
            <h2 class="neg-mt-1">Add a New post:</h2>
            <label for="recipe">Name:</label>
            <input class="input-shade border" type="text" id="recipe" name="recipe">
            <label class="mt-1" for="filling">Filling:</label>
            <input class="input-shade border" type="text" id="filling" name="filling">
            <label class="mt-1" for="crust">Crust:</label>
            <input class="input-shade border" type="text" id="crust" name="crust">
            <input type="hidden" name="user_id" value="{{ user.id }}">
            <input class="grow-small submit-btn1 mt-1" type="submit" value="Submit">
              </form>
          </div>
          <!-- NEW post -->
        </div>
      </div>

  </body>
</html>