<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{post.recipe}} Details</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Righteous&family=Shrikhand&family=Silkscreen:wght@400;700&display=swap" rel="stylesheet">
</head>
<body class="pr-3 pl-3 silkscreen-regular">


    <!-- HEADER -->
<div>
    <div class="mr-5 ml-5 mt-1 d-flex-end fs-header-medium">
        <div class="quicksand wiggle">
            <a class="move-btn-1" href="/posts">Return to All posts</a>
        </div>
        <div class="ml-2">
            <form role="logout" action="/users/logout">
                <button class="grow-xsmall submit-btn1 quicksand" type="submit">Log Out</button>
            </form>
        </div>
    </div>
</div>
    <!-- HEADER -->

    <!-- RECIPE CARD -->
    <div class="mt-5 d-flex-column d-flex-center">
        <div class="card">
            <!-- flash message -->
            <!-- recipe details -->
            <div class="pr-2 pl-2 mb-5 mt-4">
                <h1 class="post-block-header fs-header-large">{{post.recipe}}!</h1>
                <h2>By {{post.user.first_name}}</h2>
                <p>{{post.filling}} with {{post.crust}} crust</p>
            </div>
            <!-- recipe details -->
            <!-- leave comment -->
            <div>
                {% if has_submitted_comment %}
                    <h3 class="text-center mt-2">You voted for this!</h3>
                    <form id="remove-vote-form" action="/comments/{{ user_comment_id }}/delete" method="POST">
                        <input type="hidden" name="post_id" value="{{ user_post_id }}">
                        <input type="hidden" name="comment_id" value="{{ user_comment_id }}">
                        <div class="d-flex-column d-flex-center">
                            <input type="submit" class="submit-btn1 mt-2 mb-2" value="Remove Vote">
                        </div>
                    </form>

                    
                {% else %}
                    <h3 class="text-center mt-2">Cast a Vote!</h3>
                    <form id="comment-form" action="/comments/create" method="POST">
                        <input type="hidden" name="post_id" value="{{ post.id }}">
                        <input type="hidden" name="user_id" value="{{ user.id }}">
                        <div class="d-flex-column d-flex-center">
                            <input type="hidden" name="points" value="1"> <!-- Fixed value for the button -->
                            <input type="submit" class="submit-btn1 mt-2 mb-2" value="Delicious!">
                        </div>
                    </form>
                {% endif %}
            </div>
            <!-- leave comment -->
    </div>
    </div>
    <!-- RECIPE CARD -->

</body>
</html>
